$red: #ff1111;
$blue: #1111ff;
$topBlue: #67a3f5;
$yellow: #ffd733;

$gold: #daa520;
$silver: #c0c0c0;
$crystal: #4fd9ff;

$ruby: #a00000;
$topRuby: #ae3b3b;
$sapphire: #0000a0;
$topSapphire: #4d59b5;
$emerald: #00a000;
$fireRed: #ff7327;
$leafGreen: #00dd00;

$diamond: #aaaaff;
$pearl: #ffaaaa;
$platinum: #999999;
$heartGold: #b69e00;
$soulSilver: #c0c0e1;

$black: #444444;
$topBlack: #727272;
$white: #e1e1e1;
$black2: #424b50;
$topBlack2: #64747b;
$white2: #e3ced0;

$x: #025da6;
$y: #ea1a3e;
$omegaRuby: #ab2813;
$topOmegaRuby: #ac4b37;
$alphaSapphire: #26649c;
