#dex {
  flex: 1 1 auto;

  display: flex;
  flex-flow: column wrap;

  min-width: 33%;
  max-width: 100%;
}

#boxContainer {
  flex: 1 1 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;

  h2 {
    flex: 1 1 auto;
    width: 100%;
    padding: 0px 5px;
  }
}

.pokemonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  padding: 0px 3px;

  .alignmentHelper {
    height: 0px;
    width: 104px;
  }
}
