#pokemonInfo, #routeInfo {
  display: flex;
  flex-flow: row wrap;

  background: #e0e0e0;
  min-width: 33%;
  border-left: 1px solid black;

  &.closed {
    display: none;
  }
}

.infoTop {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-height: 30px;
  min-height: 15px;
}
