#topbar {
  flex: 0 0 auto;

  display: flex;

  background: #404040;
  color: white;
  width: 100%;
  height: 40px;
  user-select: none;
}

#genSelector {
  flex: 1 0 auto;

  display: flex;
  
  justify-content: space-between;
  align-items: center;
}

.gen {
  flex: 1 0 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-right: 1px solid white;
  height: 100%;

  &:last-child {
    border-right: none;
  }

  &:hover {
    background: #676767;
    cursor: pointer;
  }

  &.selected {
    background: #000000;
  }
}

.topRed { color: $red; }
.topBlue { color: $topBlue; }
.topYellow { color: $yellow; }

.topGold { color: $gold; }
.topSilver { color: $silver; }
.topCrystal { color: $crystal; }

.topRuby { color: $topRuby; }
.topSapphire { color: $topSapphire; }
.topEmerald { color: $emerald; }
.topFireRed { color: $fireRed; }
.topLeafGreen { color: $leafGreen; }

.topDiamond { color: $diamond; }
.topPearl { color: $pearl; }
.topPlatinum { color: $platinum; }
.topHeartGold { color: $heartGold; }
.topSoulSilver { color: $soulSilver; }

.topBlack { color: $topBlack; }
.topWhite { color: $white; }
.topBlack2 { color: $topBlack2; }
.topWhite2 { color: $white2; }

.topX { color: $x; }
.topY { color: $y; }
.topOmegaRuby { color: $topOmegaRuby; }
.topAlphaSapphire { color: $alphaSapphire; }

.topSun { color: $sun; }
.topMoon { color: $moon; }
