@import "_normalize.scss";
@import "_colors.scss";
@import "_topbar.scss";
@import "_dex.scss";
@import "_pokemon.scss";
@import "_info.scss";

#app{
  display: flex;
  flex-direction: column;
  height: 100%;
}

#contentBox {
  flex: 1 1 auto;
  display: flex;
}
