.pkspr {
  background-image: url("/img/pokemon.png");
  width: 40px;
  height: 30px;
}

.pkmn-001 {background-position: -1px -0px;}
.pkmn-002 {background-position: -41px -0px;}
.pkmn-003 {background-position: -81px -0px;}
.pkmn-004 {background-position: -121px -0px;}
.pkmn-005 {background-position: -161px -0px;}
.pkmn-006 {background-position: -201px -0px;}
.pkmn-007 {background-position: -241px -0px;}
.pkmn-008 {background-position: -281px -0px;}
.pkmn-009 {background-position: -321px -0px;}
.pkmn-010 {background-position: -361px -0px;}
.pkmn-011 {background-position: -401px -0px;}
.pkmn-012 {background-position: -441px -0px;}
.pkmn-013 {background-position: -481px -0px;}
.pkmn-014 {background-position: -521px -0px;}
.pkmn-015 {background-position: -561px -0px;}
.pkmn-016 {background-position: -601px -0px;}
.pkmn-017 {background-position: -641px -0px;}
.pkmn-018 {background-position: -681px -0px;}
.pkmn-019 {background-position: -721px -0px;}
.pkmn-020 {background-position: -761px -0px;}
.pkmn-021 {background-position: -801px -0px;}
.pkmn-022 {background-position: -841px -0px;}
.pkmn-023 {background-position: -881px -0px;}
.pkmn-024 {background-position: -921px -0px;}
.pkmn-025 {background-position: -961px -0px;}
.pkmn-026 {background-position: -1001px -0px;}
.pkmn-027 {background-position: -1041px -0px;}
.pkmn-028 {background-position: -1081px -0px;}
.pkmn-029 {background-position: -1121px -0px;}
.pkmn-030 {background-position: -1161px -0px;}
.pkmn-031 {background-position: -1201px -0px;}
.pkmn-032 {background-position: -1241px -0px;}
.pkmn-033 {background-position: -1281px -0px;}
.pkmn-034 {background-position: -1321px -0px;}
.pkmn-035 {background-position: -1361px -0px;}
.pkmn-036 {background-position: -1401px -0px;}
.pkmn-037 {background-position: -1441px -0px;}
.pkmn-038 {background-position: -1481px -0px;}
.pkmn-039 {background-position: -1521px -0px;}
.pkmn-040 {background-position: -1561px -0px;}
.pkmn-041 {background-position: -1601px -0px;}
.pkmn-042 {background-position: -1641px -0px;}
.pkmn-043 {background-position: -1681px -0px;}
.pkmn-044 {background-position: -1721px -0px;}
.pkmn-045 {background-position: -1761px -0px;}
.pkmn-046 {background-position: -1801px -0px;}
.pkmn-047 {background-position: -1841px -0px;}
.pkmn-048 {background-position: -1881px -0px;}
.pkmn-049 {background-position: -1921px -0px;}
.pkmn-050 {background-position: -1961px -0px;}
.pkmn-051 {background-position: -2001px -0px;}
.pkmn-052 {background-position: -2041px -0px;}
.pkmn-053 {background-position: -2081px -0px;}
.pkmn-054 {background-position: -2121px -0px;}
.pkmn-055 {background-position: -2161px -0px;}
.pkmn-056 {background-position: -2201px -0px;}
.pkmn-057 {background-position: -2241px -0px;}
.pkmn-058 {background-position: -2281px -0px;}
.pkmn-059 {background-position: -2321px -0px;}
.pkmn-060 {background-position: -2361px -0px;}
.pkmn-061 {background-position: -2401px -0px;}
.pkmn-062 {background-position: -2441px -0px;}
.pkmn-063 {background-position: -2481px -0px;}
.pkmn-064 {background-position: -2521px -0px;}
.pkmn-065 {background-position: -2561px -0px;}
.pkmn-066 {background-position: -2601px -0px;}
.pkmn-067 {background-position: -2641px -0px;}
.pkmn-068 {background-position: -2681px -0px;}
.pkmn-069 {background-position: -2721px -0px;}
.pkmn-070 {background-position: -2761px -0px;}
.pkmn-071 {background-position: -2801px -0px;}
.pkmn-072 {background-position: -2841px -0px;}
.pkmn-073 {background-position: -2881px -0px;}
.pkmn-074 {background-position: -2921px -0px;}
.pkmn-075 {background-position: -2961px -0px;}
.pkmn-076 {background-position: -3001px -0px;}
.pkmn-077 {background-position: -3041px -0px;}
.pkmn-078 {background-position: -3081px -0px;}
.pkmn-079 {background-position: -3121px -0px;}
.pkmn-080 {background-position: -3161px -0px;}
.pkmn-081 {background-position: -3201px -0px;}
.pkmn-082 {background-position: -3241px -0px;}
.pkmn-083 {background-position: -3281px -0px;}
.pkmn-084 {background-position: -3321px -0px;}
.pkmn-085 {background-position: -3361px -0px;}
.pkmn-086 {background-position: -3401px -0px;}
.pkmn-087 {background-position: -3441px -0px;}
.pkmn-088 {background-position: -3481px -0px;}
.pkmn-089 {background-position: -3521px -0px;}
.pkmn-090 {background-position: -3561px -0px;}
.pkmn-091 {background-position: -3601px -0px;}
.pkmn-092 {background-position: -3641px -0px;}
.pkmn-093 {background-position: -3681px -0px;}
.pkmn-094 {background-position: -3721px -0px;}
.pkmn-095 {background-position: -3761px -0px;}
.pkmn-096 {background-position: -3801px -0px;}
.pkmn-097 {background-position: -3841px -0px;}
.pkmn-098 {background-position: -3881px -0px;}
.pkmn-099 {background-position: -3921px -0px;}
.pkmn-100 {background-position: -3961px -0px;}
.pkmn-101 {background-position: -4001px -0px;}
.pkmn-102 {background-position: -4041px -0px;}
.pkmn-103 {background-position: -4081px -0px;}
.pkmn-104 {background-position: -4121px -0px;}
.pkmn-105 {background-position: -4161px -0px;}
.pkmn-106 {background-position: -4201px -0px;}
.pkmn-107 {background-position: -4241px -0px;}
.pkmn-108 {background-position: -4281px -0px;}
.pkmn-109 {background-position: -4321px -0px;}
.pkmn-110 {background-position: -4361px -0px;}
.pkmn-111 {background-position: -4401px -0px;}
.pkmn-112 {background-position: -4441px -0px;}
.pkmn-113 {background-position: -4481px -0px;}
.pkmn-114 {background-position: -4521px -0px;}
.pkmn-115 {background-position: -4561px -0px;}
.pkmn-116 {background-position: -4601px -0px;}
.pkmn-117 {background-position: -4641px -0px;}
.pkmn-118 {background-position: -4681px -0px;}
.pkmn-119 {background-position: -4721px -0px;}
.pkmn-120 {background-position: -4761px -0px;}
.pkmn-121 {background-position: -4801px -0px;}
.pkmn-122 {background-position: -4841px -0px;}
.pkmn-123 {background-position: -4881px -0px;}
.pkmn-124 {background-position: -4921px -0px;}
.pkmn-125 {background-position: -4961px -0px;}
.pkmn-126 {background-position: -5001px -0px;}
.pkmn-127 {background-position: -5041px -0px;}
.pkmn-128 {background-position: -5081px -0px;}
.pkmn-129 {background-position: -5121px -0px;}
.pkmn-130 {background-position: -5161px -0px;}
.pkmn-131 {background-position: -5201px -0px;}
.pkmn-132 {background-position: -5241px -0px;}
.pkmn-133 {background-position: -5281px -0px;}
.pkmn-134 {background-position: -5321px -0px;}
.pkmn-135 {background-position: -5361px -0px;}
.pkmn-136 {background-position: -5401px -0px;}
.pkmn-137 {background-position: -5441px -0px;}
.pkmn-138 {background-position: -5481px -0px;}
.pkmn-139 {background-position: -5521px -0px;}
.pkmn-140 {background-position: -5561px -0px;}
.pkmn-141 {background-position: -5601px -0px;}
.pkmn-142 {background-position: -5641px -0px;}
.pkmn-143 {background-position: -5681px -0px;}
.pkmn-144 {background-position: -5721px -0px;}
.pkmn-145 {background-position: -5761px -0px;}
.pkmn-146 {background-position: -5801px -0px;}
.pkmn-147 {background-position: -5841px -0px;}
.pkmn-148 {background-position: -5881px -0px;}
.pkmn-149 {background-position: -5921px -0px;}
.pkmn-150 {background-position: -5961px -0px;}
.pkmn-151 {background-position: -6001px -0px;}
.pkmn-152 {background-position: -6041px -0px;}
.pkmn-153 {background-position: -6081px -0px;}
.pkmn-154 {background-position: -6121px -0px;}
.pkmn-155 {background-position: -6161px -0px;}
.pkmn-156 {background-position: -6201px -0px;}
.pkmn-157 {background-position: -6241px -0px;}
.pkmn-158 {background-position: -6281px -0px;}
.pkmn-159 {background-position: -6321px -0px;}
.pkmn-160 {background-position: -6361px -0px;}
.pkmn-161 {background-position: -6401px -0px;}
.pkmn-162 {background-position: -6441px -0px;}
.pkmn-163 {background-position: -6481px -0px;}
.pkmn-164 {background-position: -6521px -0px;}
.pkmn-165 {background-position: -6561px -0px;}
.pkmn-166 {background-position: -6601px -0px;}
.pkmn-167 {background-position: -6641px -0px;}
.pkmn-168 {background-position: -6681px -0px;}
.pkmn-169 {background-position: -6721px -0px;}
.pkmn-170 {background-position: -6761px -0px;}
.pkmn-171 {background-position: -6801px -0px;}
.pkmn-172 {background-position: -6841px -0px;}
.pkmn-173 {background-position: -6881px -0px;}
.pkmn-174 {background-position: -6921px -0px;}
.pkmn-175 {background-position: -6961px -0px;}
.pkmn-176 {background-position: -7001px -0px;}
.pkmn-177 {background-position: -7041px -0px;}
.pkmn-178 {background-position: -7081px -0px;}
.pkmn-179 {background-position: -7121px -0px;}
.pkmn-180 {background-position: -7161px -0px;}
.pkmn-181 {background-position: -7201px -0px;}
.pkmn-182 {background-position: -7241px -0px;}
.pkmn-183 {background-position: -7281px -0px;}
.pkmn-184 {background-position: -7321px -0px;}
.pkmn-185 {background-position: -7361px -0px;}
.pkmn-186 {background-position: -7401px -0px;}
.pkmn-187 {background-position: -7441px -0px;}
.pkmn-188 {background-position: -7481px -0px;}
.pkmn-189 {background-position: -7521px -0px;}
.pkmn-190 {background-position: -7561px -0px;}
.pkmn-191 {background-position: -7601px -0px;}
.pkmn-192 {background-position: -7641px -0px;}
.pkmn-193 {background-position: -7681px -0px;}
.pkmn-194 {background-position: -7721px -0px;}
.pkmn-195 {background-position: -7761px -0px;}
.pkmn-196 {background-position: -7801px -0px;}
.pkmn-197 {background-position: -7841px -0px;}
.pkmn-198 {background-position: -7881px -0px;}
.pkmn-199 {background-position: -7921px -0px;}
.pkmn-200 {background-position: -7961px -0px;}
.pkmn-201 {background-position: -8001px -0px;}
.pkmn-202 {background-position: -8041px -0px;}
.pkmn-203 {background-position: -8081px -0px;}
.pkmn-204 {background-position: -8121px -0px;}
.pkmn-205 {background-position: -8161px -0px;}
.pkmn-206 {background-position: -8201px -0px;}
.pkmn-207 {background-position: -8241px -0px;}
.pkmn-208 {background-position: -8281px -0px;}
.pkmn-209 {background-position: -8321px -0px;}
.pkmn-210 {background-position: -8361px -0px;}
.pkmn-211 {background-position: -8401px -0px;}
.pkmn-212 {background-position: -8441px -0px;}
.pkmn-213 {background-position: -8481px -0px;}
.pkmn-214 {background-position: -8521px -0px;}
.pkmn-215 {background-position: -8561px -0px;}
.pkmn-216 {background-position: -8601px -0px;}
.pkmn-217 {background-position: -8641px -0px;}
.pkmn-218 {background-position: -8681px -0px;}
.pkmn-219 {background-position: -8721px -0px;}
.pkmn-220 {background-position: -8761px -0px;}
.pkmn-221 {background-position: -8801px -0px;}
.pkmn-222 {background-position: -8841px -0px;}
.pkmn-223 {background-position: -8881px -0px;}
.pkmn-224 {background-position: -8921px -0px;}
.pkmn-225 {background-position: -8961px -0px;}
.pkmn-226 {background-position: -9001px -0px;}
.pkmn-227 {background-position: -9041px -0px;}
.pkmn-228 {background-position: -9081px -0px;}
.pkmn-229 {background-position: -9121px -0px;}
.pkmn-230 {background-position: -9161px -0px;}
.pkmn-231 {background-position: -9201px -0px;}
.pkmn-232 {background-position: -9241px -0px;}
.pkmn-233 {background-position: -9281px -0px;}
.pkmn-234 {background-position: -9321px -0px;}
.pkmn-235 {background-position: -9361px -0px;}
.pkmn-236 {background-position: -9401px -0px;}
.pkmn-237 {background-position: -9441px -0px;}
.pkmn-238 {background-position: -9481px -0px;}
.pkmn-239 {background-position: -9521px -0px;}
.pkmn-240 {background-position: -9561px -0px;}
.pkmn-241 {background-position: -9601px -0px;}
.pkmn-242 {background-position: -9641px -0px;}
.pkmn-243 {background-position: -9681px -0px;}
.pkmn-244 {background-position: -9721px -0px;}
.pkmn-245 {background-position: -9761px -0px;}
.pkmn-246 {background-position: -9801px -0px;}
.pkmn-247 {background-position: -9841px -0px;}
.pkmn-248 {background-position: -9881px -0px;}
.pkmn-249 {background-position: -9921px -0px;}
.pkmn-250 {background-position: -9961px -0px;}
.pkmn-251 {background-position: -10001px -0px;}
.pkmn-252 {background-position: -10041px -0px;}
.pkmn-253 {background-position: -10081px -0px;}
.pkmn-254 {background-position: -10121px -0px;}
.pkmn-255 {background-position: -10161px -0px;}
.pkmn-256 {background-position: -10201px -0px;}
.pkmn-257 {background-position: -10241px -0px;}
.pkmn-258 {background-position: -10281px -0px;}
.pkmn-259 {background-position: -10321px -0px;}
.pkmn-260 {background-position: -10361px -0px;}
.pkmn-261 {background-position: -10401px -0px;}
.pkmn-262 {background-position: -10441px -0px;}
.pkmn-263 {background-position: -10481px -0px;}
.pkmn-264 {background-position: -10521px -0px;}
.pkmn-265 {background-position: -10561px -0px;}
.pkmn-266 {background-position: -10601px -0px;}
.pkmn-267 {background-position: -10641px -0px;}
.pkmn-268 {background-position: -10681px -0px;}
.pkmn-269 {background-position: -10721px -0px;}
.pkmn-270 {background-position: -10761px -0px;}
.pkmn-271 {background-position: -10801px -0px;}
.pkmn-272 {background-position: -10841px -0px;}
.pkmn-273 {background-position: -10881px -0px;}
.pkmn-274 {background-position: -10921px -0px;}
.pkmn-275 {background-position: -10961px -0px;}
.pkmn-276 {background-position: -11001px -0px;}
.pkmn-277 {background-position: -11041px -0px;}
.pkmn-278 {background-position: -11081px -0px;}
.pkmn-279 {background-position: -11121px -0px;}
.pkmn-280 {background-position: -11161px -0px;}
.pkmn-281 {background-position: -11201px -0px;}
.pkmn-282 {background-position: -11241px -0px;}
.pkmn-283 {background-position: -11281px -0px;}
.pkmn-284 {background-position: -11321px -0px;}
.pkmn-285 {background-position: -11361px -0px;}
.pkmn-286 {background-position: -11401px -0px;}
.pkmn-287 {background-position: -11441px -0px;}
.pkmn-288 {background-position: -11481px -0px;}
.pkmn-289 {background-position: -11521px -0px;}
.pkmn-290 {background-position: -11561px -0px;}
.pkmn-291 {background-position: -11601px -0px;}
.pkmn-292 {background-position: -11641px -0px;}
.pkmn-293 {background-position: -11681px -0px;}
.pkmn-294 {background-position: -11721px -0px;}
.pkmn-295 {background-position: -11761px -0px;}
.pkmn-296 {background-position: -11801px -0px;}
.pkmn-297 {background-position: -11841px -0px;}
.pkmn-298 {background-position: -11881px -0px;}
.pkmn-299 {background-position: -11921px -0px;}
.pkmn-300 {background-position: -11961px -0px;}
.pkmn-301 {background-position: -12001px -0px;}
.pkmn-302 {background-position: -12041px -0px;}
.pkmn-303 {background-position: -12081px -0px;}
.pkmn-304 {background-position: -12121px -0px;}
.pkmn-305 {background-position: -12161px -0px;}
.pkmn-306 {background-position: -12201px -0px;}
.pkmn-307 {background-position: -12241px -0px;}
.pkmn-308 {background-position: -12281px -0px;}
.pkmn-309 {background-position: -12321px -0px;}
.pkmn-310 {background-position: -12361px -0px;}
.pkmn-311 {background-position: -12401px -0px;}
.pkmn-312 {background-position: -12441px -0px;}
.pkmn-313 {background-position: -12481px -0px;}
.pkmn-314 {background-position: -12521px -0px;}
.pkmn-315 {background-position: -12561px -0px;}
.pkmn-316 {background-position: -12601px -0px;}
.pkmn-317 {background-position: -12641px -0px;}
.pkmn-318 {background-position: -12681px -0px;}
.pkmn-319 {background-position: -12721px -0px;}
.pkmn-320 {background-position: -12761px -0px;}
.pkmn-321 {background-position: -12801px -0px;}
.pkmn-322 {background-position: -12841px -0px;}
.pkmn-323 {background-position: -12881px -0px;}
.pkmn-324 {background-position: -12921px -0px;}
.pkmn-325 {background-position: -12961px -0px;}
.pkmn-326 {background-position: -13001px -0px;}
.pkmn-327 {background-position: -13041px -0px;}
.pkmn-328 {background-position: -13081px -0px;}
.pkmn-329 {background-position: -13121px -0px;}
.pkmn-330 {background-position: -13161px -0px;}
.pkmn-331 {background-position: -13201px -0px;}
.pkmn-332 {background-position: -13241px -0px;}
.pkmn-333 {background-position: -13281px -0px;}
.pkmn-334 {background-position: -13321px -0px;}
.pkmn-335 {background-position: -13361px -0px;}
.pkmn-336 {background-position: -13401px -0px;}
.pkmn-337 {background-position: -13441px -0px;}
.pkmn-338 {background-position: -13481px -0px;}
.pkmn-339 {background-position: -13521px -0px;}
.pkmn-340 {background-position: -13561px -0px;}
.pkmn-341 {background-position: -13601px -0px;}
.pkmn-342 {background-position: -13641px -0px;}
.pkmn-343 {background-position: -13681px -0px;}
.pkmn-344 {background-position: -13721px -0px;}
.pkmn-345 {background-position: -13761px -0px;}
.pkmn-346 {background-position: -13801px -0px;}
.pkmn-347 {background-position: -13841px -0px;}
.pkmn-348 {background-position: -13881px -0px;}
.pkmn-349 {background-position: -13921px -0px;}
.pkmn-350 {background-position: -13961px -0px;}
.pkmn-351 {background-position: -14001px -0px;}
.pkmn-352 {background-position: -14041px -0px;}
.pkmn-353 {background-position: -14081px -0px;}
.pkmn-354 {background-position: -14121px -0px;}
.pkmn-355 {background-position: -14161px -0px;}
.pkmn-356 {background-position: -14201px -0px;}
.pkmn-357 {background-position: -14241px -0px;}
.pkmn-358 {background-position: -14281px -0px;}
.pkmn-359 {background-position: -14321px -0px;}
.pkmn-360 {background-position: -14361px -0px;}
.pkmn-361 {background-position: -14401px -0px;}
.pkmn-362 {background-position: -14441px -0px;}
.pkmn-363 {background-position: -14481px -0px;}
.pkmn-364 {background-position: -14521px -0px;}
.pkmn-365 {background-position: -14561px -0px;}
.pkmn-366 {background-position: -14601px -0px;}
.pkmn-367 {background-position: -14641px -0px;}
.pkmn-368 {background-position: -14681px -0px;}
.pkmn-369 {background-position: -14721px -0px;}
.pkmn-370 {background-position: -14761px -0px;}
.pkmn-371 {background-position: -14801px -0px;}
.pkmn-372 {background-position: -14841px -0px;}
.pkmn-373 {background-position: -14881px -0px;}
.pkmn-374 {background-position: -14921px -0px;}
.pkmn-375 {background-position: -14961px -0px;}
.pkmn-376 {background-position: -15001px -0px;}
.pkmn-377 {background-position: -15041px -0px;}
.pkmn-378 {background-position: -15081px -0px;}
.pkmn-379 {background-position: -15121px -0px;}
.pkmn-380 {background-position: -15161px -0px;}
.pkmn-381 {background-position: -15201px -0px;}
.pkmn-382 {background-position: -15241px -0px;}
.pkmn-383 {background-position: -15281px -0px;}
.pkmn-384 {background-position: -15321px -0px;}
.pkmn-385 {background-position: -15361px -0px;}
.pkmn-386 {background-position: -15401px -0px;}
.pkmn-387 {background-position: -15441px -0px;}
.pkmn-388 {background-position: -15481px -0px;}
.pkmn-389 {background-position: -15521px -0px;}
.pkmn-390 {background-position: -15561px -0px;}
.pkmn-391 {background-position: -15601px -0px;}
.pkmn-392 {background-position: -15641px -0px;}
.pkmn-393 {background-position: -15681px -0px;}
.pkmn-394 {background-position: -15721px -0px;}
.pkmn-395 {background-position: -15761px -0px;}
.pkmn-396 {background-position: -15801px -0px;}
.pkmn-397 {background-position: -15841px -0px;}
.pkmn-398 {background-position: -15881px -0px;}
.pkmn-399 {background-position: -15921px -0px;}
.pkmn-400 {background-position: -15961px -0px;}
.pkmn-401 {background-position: -16001px -0px;}
.pkmn-402 {background-position: -16041px -0px;}
.pkmn-403 {background-position: -16081px -0px;}
.pkmn-404 {background-position: -16121px -0px;}
.pkmn-405 {background-position: -16161px -0px;}
.pkmn-406 {background-position: -16201px -0px;}
.pkmn-407 {background-position: -16241px -0px;}
.pkmn-408 {background-position: -16281px -0px;}
.pkmn-409 {background-position: -16321px -0px;}
.pkmn-410 {background-position: -16361px -0px;}
.pkmn-411 {background-position: -16401px -0px;}
.pkmn-412 {background-position: -16441px -0px;}
.pkmn-413 {background-position: -16481px -0px;}
.pkmn-414 {background-position: -16521px -0px;}
.pkmn-415 {background-position: -16561px -0px;}
.pkmn-416 {background-position: -16601px -0px;}
.pkmn-417 {background-position: -16641px -0px;}
.pkmn-418 {background-position: -16681px -0px;}
.pkmn-419 {background-position: -16721px -0px;}
.pkmn-420 {background-position: -16761px -0px;}
.pkmn-421 {background-position: -16801px -0px;}
.pkmn-422 {background-position: -16841px -0px;}
.pkmn-423 {background-position: -16881px -0px;}
.pkmn-424 {background-position: -16921px -0px;}
.pkmn-425 {background-position: -16961px -0px;}
.pkmn-426 {background-position: -17001px -0px;}
.pkmn-427 {background-position: -17041px -0px;}
.pkmn-428 {background-position: -17081px -0px;}
.pkmn-429 {background-position: -17121px -0px;}
.pkmn-430 {background-position: -17161px -0px;}
.pkmn-431 {background-position: -17201px -0px;}
.pkmn-432 {background-position: -17241px -0px;}
.pkmn-433 {background-position: -17281px -0px;}
.pkmn-434 {background-position: -17321px -0px;}
.pkmn-435 {background-position: -17361px -0px;}
.pkmn-436 {background-position: -17401px -0px;}
.pkmn-437 {background-position: -17441px -0px;}
.pkmn-438 {background-position: -17481px -0px;}
.pkmn-439 {background-position: -17521px -0px;}
.pkmn-440 {background-position: -17561px -0px;}
.pkmn-441 {background-position: -17601px -0px;}
.pkmn-442 {background-position: -17641px -0px;}
.pkmn-443 {background-position: -17681px -0px;}
.pkmn-444 {background-position: -17721px -0px;}
.pkmn-445 {background-position: -17761px -0px;}
.pkmn-446 {background-position: -17801px -0px;}
.pkmn-447 {background-position: -17841px -0px;}
.pkmn-448 {background-position: -17881px -0px;}
.pkmn-449 {background-position: -17921px -0px;}
.pkmn-450 {background-position: -17961px -0px;}
.pkmn-451 {background-position: -18001px -0px;}
.pkmn-452 {background-position: -18041px -0px;}
.pkmn-453 {background-position: -18081px -0px;}
.pkmn-454 {background-position: -18121px -0px;}
.pkmn-455 {background-position: -18161px -0px;}
.pkmn-456 {background-position: -18201px -0px;}
.pkmn-457 {background-position: -18241px -0px;}
.pkmn-458 {background-position: -18281px -0px;}
.pkmn-459 {background-position: -18321px -0px;}
.pkmn-460 {background-position: -18361px -0px;}
.pkmn-461 {background-position: -18401px -0px;}
.pkmn-462 {background-position: -18441px -0px;}
.pkmn-463 {background-position: -18481px -0px;}
.pkmn-464 {background-position: -18521px -0px;}
.pkmn-465 {background-position: -18561px -0px;}
.pkmn-466 {background-position: -18601px -0px;}
.pkmn-467 {background-position: -18641px -0px;}
.pkmn-468 {background-position: -18681px -0px;}
.pkmn-469 {background-position: -18721px -0px;}
.pkmn-470 {background-position: -18761px -0px;}
.pkmn-471 {background-position: -18801px -0px;}
.pkmn-472 {background-position: -18841px -0px;}
.pkmn-473 {background-position: -18881px -0px;}
.pkmn-474 {background-position: -18921px -0px;}
.pkmn-475 {background-position: -18961px -0px;}
.pkmn-476 {background-position: -19001px -0px;}
.pkmn-477 {background-position: -19041px -0px;}
.pkmn-478 {background-position: -19081px -0px;}
.pkmn-479 {background-position: -19121px -0px;}
.pkmn-480 {background-position: -19161px -0px;}
.pkmn-481 {background-position: -19201px -0px;}
.pkmn-482 {background-position: -19241px -0px;}
.pkmn-483 {background-position: -19281px -0px;}
.pkmn-484 {background-position: -19321px -0px;}
.pkmn-485 {background-position: -19361px -0px;}
.pkmn-486 {background-position: -19401px -0px;}
.pkmn-487 {background-position: -19441px -0px;}
.pkmn-488 {background-position: -19481px -0px;}
.pkmn-489 {background-position: -19521px -0px;}
.pkmn-490 {background-position: -19561px -0px;}
.pkmn-491 {background-position: -19601px -0px;}
.pkmn-492 {background-position: -19641px -0px;}
.pkmn-493 {background-position: -19681px -0px;}
.pkmn-494 {background-position: -19721px -0px;}
.pkmn-495 {background-position: -19761px -0px;}
.pkmn-496 {background-position: -19801px -0px;}
.pkmn-497 {background-position: -19841px -0px;}
.pkmn-498 {background-position: -19881px -0px;}
.pkmn-499 {background-position: -19921px -0px;}
.pkmn-500 {background-position: -19961px -0px;}
.pkmn-501 {background-position: -20001px -0px;}
.pkmn-502 {background-position: -20041px -0px;}
.pkmn-503 {background-position: -20081px -0px;}
.pkmn-504 {background-position: -20121px -0px;}
.pkmn-505 {background-position: -20161px -0px;}
.pkmn-506 {background-position: -20201px -0px;}
.pkmn-507 {background-position: -20241px -0px;}
.pkmn-508 {background-position: -20281px -0px;}
.pkmn-509 {background-position: -20321px -0px;}
.pkmn-510 {background-position: -20361px -0px;}
.pkmn-511 {background-position: -20401px -0px;}
.pkmn-512 {background-position: -20441px -0px;}
.pkmn-513 {background-position: -20481px -0px;}
.pkmn-514 {background-position: -20521px -0px;}
.pkmn-515 {background-position: -20561px -0px;}
.pkmn-516 {background-position: -20601px -0px;}
.pkmn-517 {background-position: -20641px -0px;}
.pkmn-518 {background-position: -20681px -0px;}
.pkmn-519 {background-position: -20721px -0px;}
.pkmn-520 {background-position: -20761px -0px;}
.pkmn-521 {background-position: -20801px -0px;}
.pkmn-522 {background-position: -20841px -0px;}
.pkmn-523 {background-position: -20881px -0px;}
.pkmn-524 {background-position: -20921px -0px;}
.pkmn-525 {background-position: -20961px -0px;}
.pkmn-526 {background-position: -21001px -0px;}
.pkmn-527 {background-position: -21041px -0px;}
.pkmn-528 {background-position: -21081px -0px;}
.pkmn-529 {background-position: -21121px -0px;}
.pkmn-530 {background-position: -21161px -0px;}
.pkmn-531 {background-position: -21201px -0px;}
.pkmn-532 {background-position: -21241px -0px;}
.pkmn-533 {background-position: -21281px -0px;}
.pkmn-534 {background-position: -21321px -0px;}
.pkmn-535 {background-position: -21361px -0px;}
.pkmn-536 {background-position: -21401px -0px;}
.pkmn-537 {background-position: -21441px -0px;}
.pkmn-538 {background-position: -21481px -0px;}
.pkmn-539 {background-position: -21521px -0px;}
.pkmn-540 {background-position: -21561px -0px;}
.pkmn-541 {background-position: -21601px -0px;}
.pkmn-542 {background-position: -21641px -0px;}
.pkmn-543 {background-position: -21681px -0px;}
.pkmn-544 {background-position: -21721px -0px;}
.pkmn-545 {background-position: -21761px -0px;}
.pkmn-546 {background-position: -21801px -0px;}
.pkmn-547 {background-position: -21841px -0px;}
.pkmn-548 {background-position: -21881px -0px;}
.pkmn-549 {background-position: -21921px -0px;}
.pkmn-550 {background-position: -21961px -0px;}
.pkmn-551 {background-position: -22001px -0px;}
.pkmn-552 {background-position: -22041px -0px;}
.pkmn-553 {background-position: -22081px -0px;}
.pkmn-554 {background-position: -22121px -0px;}
.pkmn-555 {background-position: -22161px -0px;}
.pkmn-556 {background-position: -22201px -0px;}
.pkmn-557 {background-position: -22241px -0px;}
.pkmn-558 {background-position: -22281px -0px;}
.pkmn-559 {background-position: -22321px -0px;}
.pkmn-560 {background-position: -22361px -0px;}
.pkmn-561 {background-position: -22401px -0px;}
.pkmn-562 {background-position: -22441px -0px;}
.pkmn-563 {background-position: -22481px -0px;}
.pkmn-564 {background-position: -22521px -0px;}
.pkmn-565 {background-position: -22561px -0px;}
.pkmn-566 {background-position: -22601px -0px;}
.pkmn-567 {background-position: -22641px -0px;}
.pkmn-568 {background-position: -22681px -0px;}
.pkmn-569 {background-position: -22721px -0px;}
.pkmn-570 {background-position: -22761px -0px;}
.pkmn-571 {background-position: -22801px -0px;}
.pkmn-572 {background-position: -22841px -0px;}
.pkmn-573 {background-position: -22881px -0px;}
.pkmn-574 {background-position: -22921px -0px;}
.pkmn-575 {background-position: -22961px -0px;}
.pkmn-576 {background-position: -23001px -0px;}
.pkmn-577 {background-position: -23041px -0px;}
.pkmn-578 {background-position: -23081px -0px;}
.pkmn-579 {background-position: -23121px -0px;}
.pkmn-580 {background-position: -23161px -0px;}
.pkmn-581 {background-position: -23201px -0px;}
.pkmn-582 {background-position: -23241px -0px;}
.pkmn-583 {background-position: -23281px -0px;}
.pkmn-584 {background-position: -23321px -0px;}
.pkmn-585 {background-position: -23361px -0px;}
.pkmn-586 {background-position: -23401px -0px;}
.pkmn-587 {background-position: -23441px -0px;}
.pkmn-588 {background-position: -23481px -0px;}
.pkmn-589 {background-position: -23521px -0px;}
.pkmn-590 {background-position: -23561px -0px;}
.pkmn-591 {background-position: -23601px -0px;}
.pkmn-592 {background-position: -23641px -0px;}
.pkmn-593 {background-position: -23681px -0px;}
.pkmn-594 {background-position: -23721px -0px;}
.pkmn-595 {background-position: -23761px -0px;}
.pkmn-596 {background-position: -23801px -0px;}
.pkmn-597 {background-position: -23841px -0px;}
.pkmn-598 {background-position: -23881px -0px;}
.pkmn-599 {background-position: -23921px -0px;}
.pkmn-600 {background-position: -23961px -0px;}
.pkmn-601 {background-position: -24001px -0px;}
.pkmn-602 {background-position: -24041px -0px;}
.pkmn-603 {background-position: -24081px -0px;}
.pkmn-604 {background-position: -24121px -0px;}
.pkmn-605 {background-position: -24161px -0px;}
.pkmn-606 {background-position: -24201px -0px;}
.pkmn-607 {background-position: -24241px -0px;}
.pkmn-608 {background-position: -24281px -0px;}
.pkmn-609 {background-position: -24321px -0px;}
.pkmn-610 {background-position: -24361px -0px;}
.pkmn-611 {background-position: -24401px -0px;}
.pkmn-612 {background-position: -24441px -0px;}
.pkmn-613 {background-position: -24481px -0px;}
.pkmn-614 {background-position: -24521px -0px;}
.pkmn-615 {background-position: -24561px -0px;}
.pkmn-616 {background-position: -24601px -0px;}
.pkmn-617 {background-position: -24641px -0px;}
.pkmn-618 {background-position: -24681px -0px;}
.pkmn-619 {background-position: -24721px -0px;}
.pkmn-620 {background-position: -24761px -0px;}
.pkmn-621 {background-position: -24801px -0px;}
.pkmn-622 {background-position: -24841px -0px;}
.pkmn-623 {background-position: -24881px -0px;}
.pkmn-624 {background-position: -24921px -0px;}
.pkmn-625 {background-position: -24961px -0px;}
.pkmn-626 {background-position: -25001px -0px;}
.pkmn-627 {background-position: -25041px -0px;}
.pkmn-628 {background-position: -25081px -0px;}
.pkmn-629 {background-position: -25121px -0px;}
.pkmn-630 {background-position: -25161px -0px;}
.pkmn-631 {background-position: -25201px -0px;}
.pkmn-632 {background-position: -25241px -0px;}
.pkmn-633 {background-position: -25281px -0px;}
.pkmn-634 {background-position: -25321px -0px;}
.pkmn-635 {background-position: -25361px -0px;}
.pkmn-636 {background-position: -25401px -0px;}
.pkmn-637 {background-position: -25441px -0px;}
.pkmn-638 {background-position: -25481px -0px;}
.pkmn-639 {background-position: -25521px -0px;}
.pkmn-640 {background-position: -25561px -0px;}
.pkmn-641 {background-position: -25601px -0px;}
.pkmn-642 {background-position: -25641px -0px;}
.pkmn-643 {background-position: -25681px -0px;}
.pkmn-644 {background-position: -25721px -0px;}
.pkmn-645 {background-position: -25761px -0px;}
.pkmn-646 {background-position: -25801px -0px;}
.pkmn-647 {background-position: -25841px -0px;}
.pkmn-648 {background-position: -25881px -0px;}
.pkmn-649 {background-position: -25921px -0px;}
.pkmn-650 {background-position: -25961px -0px;}
.pkmn-651 {background-position: -26001px -0px;}
.pkmn-652 {background-position: -26041px -0px;}
.pkmn-653 {background-position: -26081px -0px;}
.pkmn-654 {background-position: -26121px -0px;}
.pkmn-655 {background-position: -26161px -0px;}
.pkmn-656 {background-position: -26201px -0px;}
.pkmn-657 {background-position: -26241px -0px;}
.pkmn-658 {background-position: -26281px -0px;}
.pkmn-659 {background-position: -26321px -0px;}
.pkmn-660 {background-position: -26361px -0px;}
.pkmn-661 {background-position: -26401px -0px;}
.pkmn-662 {background-position: -26441px -0px;}
.pkmn-663 {background-position: -26481px -0px;}
.pkmn-664 {background-position: -26521px -0px;}
.pkmn-665 {background-position: -26561px -0px;}
.pkmn-666 {background-position: -26601px -0px;}
.pkmn-667 {background-position: -26641px -0px;}
.pkmn-668 {background-position: -26681px -0px;}
.pkmn-669 {background-position: -26721px -0px;}
.pkmn-670 {background-position: -26761px -0px;}
.pkmn-671 {background-position: -26801px -0px;}
.pkmn-672 {background-position: -26841px -0px;}
.pkmn-673 {background-position: -26881px -0px;}
.pkmn-674 {background-position: -26921px -0px;}
.pkmn-675 {background-position: -26961px -0px;}
.pkmn-676 {background-position: -27001px -0px;}
.pkmn-677 {background-position: -27041px -0px;}
.pkmn-678 {background-position: -27081px -0px;}
.pkmn-679 {background-position: -27121px -0px;}
.pkmn-680 {background-position: -27161px -0px;}
.pkmn-681 {background-position: -27201px -0px;}
.pkmn-682 {background-position: -27241px -0px;}
.pkmn-683 {background-position: -27281px -0px;}
.pkmn-684 {background-position: -27321px -0px;}
.pkmn-685 {background-position: -27361px -0px;}
.pkmn-686 {background-position: -27401px -0px;}
.pkmn-687 {background-position: -27441px -0px;}
.pkmn-688 {background-position: -27481px -0px;}
.pkmn-689 {background-position: -27521px -0px;}
.pkmn-690 {background-position: -27561px -0px;}
.pkmn-691 {background-position: -27601px -0px;}
.pkmn-692 {background-position: -27641px -0px;}
.pkmn-693 {background-position: -27681px -0px;}
.pkmn-694 {background-position: -27721px -0px;}
.pkmn-695 {background-position: -27761px -0px;}
.pkmn-696 {background-position: -27801px -0px;}
.pkmn-697 {background-position: -27841px -0px;}
.pkmn-698 {background-position: -27881px -0px;}
.pkmn-699 {background-position: -27921px -0px;}
.pkmn-700 {background-position: -27961px -0px;}
.pkmn-701 {background-position: -28001px -0px;}
.pkmn-702 {background-position: -28041px -0px;}
.pkmn-703 {background-position: -28081px -0px;}
.pkmn-704 {background-position: -28121px -0px;}
.pkmn-705 {background-position: -28161px -0px;}
.pkmn-706 {background-position: -28201px -0px;}
.pkmn-707 {background-position: -28241px -0px;}
.pkmn-708 {background-position: -28281px -0px;}
.pkmn-709 {background-position: -28321px -0px;}
.pkmn-710 {background-position: -28361px -0px;}
.pkmn-711 {background-position: -28401px -0px;}
.pkmn-712 {background-position: -28441px -0px;}
.pkmn-713 {background-position: -28481px -0px;}
.pkmn-714 {background-position: -28521px -0px;}
.pkmn-715 {background-position: -28561px -0px;}
.pkmn-716 {background-position: -28601px -0px;}
.pkmn-717 {background-position: -28641px -0px;}
.pkmn-718 {background-position: -28681px -0px;}
.pkmn-719 {background-position: -28721px -0px;}
.pkmn-720 {background-position: -28761px -0px;}
.pkmn-721 {background-position: -28801px -0px;}
.pkmn-722 {background-position: -28841px -0px;}
.pkmn-723 {background-position: -28881px -0px;}
.pkmn-724 {background-position: -28921px -0px;}
.pkmn-725 {background-position: -28961px -0px;}
.pkmn-726 {background-position: -29001px -0px;}
.pkmn-727 {background-position: -29041px -0px;}
.pkmn-728 {background-position: -29081px -0px;}
.pkmn-729 {background-position: -29121px -0px;}
.pkmn-730 {background-position: -29161px -0px;}
.pkmn-731 {background-position: -29201px -0px;}
.pkmn-732 {background-position: -29241px -0px;}
.pkmn-733 {background-position: -29281px -0px;}
.pkmn-734 {background-position: -29321px -0px;}
.pkmn-735 {background-position: -29361px -0px;}
.pkmn-736 {background-position: -29401px -0px;}
.pkmn-737 {background-position: -29441px -0px;}
.pkmn-738 {background-position: -29481px -0px;}
.pkmn-739 {background-position: -29521px -0px;}
.pkmn-740 {background-position: -29561px -0px;}
.pkmn-741 {background-position: -29601px -0px;}
.pkmn-742 {background-position: -29641px -0px;}
.pkmn-743 {background-position: -29681px -0px;}
.pkmn-744 {background-position: -29721px -0px;}
.pkmn-745 {background-position: -29761px -0px;}
.pkmn-746 {background-position: -29801px -0px;}
.pkmn-747 {background-position: -29841px -0px;}
.pkmn-748 {background-position: -29881px -0px;}
.pkmn-749 {background-position: -29921px -0px;}
.pkmn-750 {background-position: -29961px -0px;}
.pkmn-751 {background-position: -30001px -0px;}
.pkmn-752 {background-position: -30041px -0px;}
.pkmn-753 {background-position: -30081px -0px;}
.pkmn-754 {background-position: -30121px -0px;}
.pkmn-755 {background-position: -30161px -0px;}
.pkmn-756 {background-position: -30201px -0px;}
.pkmn-757 {background-position: -30241px -0px;}
.pkmn-758 {background-position: -30281px -0px;}
.pkmn-759 {background-position: -30321px -0px;}
.pkmn-760 {background-position: -30361px -0px;}
.pkmn-761 {background-position: -30401px -0px;}
.pkmn-762 {background-position: -30441px -0px;}
.pkmn-763 {background-position: -30481px -0px;}
.pkmn-764 {background-position: -30521px -0px;}
.pkmn-765 {background-position: -30561px -0px;}
.pkmn-766 {background-position: -30601px -0px;}
.pkmn-767 {background-position: -30641px -0px;}
.pkmn-768 {background-position: -30681px -0px;}
.pkmn-769 {background-position: -30721px -0px;}
.pkmn-770 {background-position: -30761px -0px;}
.pkmn-771 {background-position: -30801px -0px;}
.pkmn-772 {background-position: -30841px -0px;}
.pkmn-773 {background-position: -30881px -0px;}
.pkmn-774 {background-position: -30921px -0px;}
.pkmn-775 {background-position: -30961px -0px;}
.pkmn-776 {background-position: -31001px -0px;}
.pkmn-777 {background-position: -31041px -0px;}
.pkmn-778 {background-position: -31081px -0px;}
.pkmn-779 {background-position: -31121px -0px;}
.pkmn-780 {background-position: -31161px -0px;}
.pkmn-781 {background-position: -31201px -0px;}
.pkmn-782 {background-position: -31241px -0px;}
.pkmn-783 {background-position: -31281px -0px;}
.pkmn-784 {background-position: -31321px -0px;}
.pkmn-785 {background-position: -31361px -0px;}
.pkmn-786 {background-position: -31401px -0px;}
.pkmn-787 {background-position: -31441px -0px;}
.pkmn-788 {background-position: -31481px -0px;}
.pkmn-789 {background-position: -31521px -0px;}
.pkmn-790 {background-position: -31561px -0px;}
.pkmn-791 {background-position: -31601px -0px;}
.pkmn-792 {background-position: -31641px -0px;}
.pkmn-793 {background-position: -31681px -0px;}
.pkmn-794 {background-position: -31721px -0px;}
.pkmn-795 {background-position: -31761px -0px;}
.pkmn-796 {background-position: -31801px -0px;}
.pkmn-797 {background-position: -31841px -0px;}
.pkmn-798 {background-position: -31881px -0px;}
.pkmn-799 {background-position: -31921px -0px;}
.pkmn-800 {background-position: -31961px -0px;}
.pkmn-801 {background-position: -32001px -0px;}
.pkmn-802 {background-position: -32041px -0px;}
